.hero-section p{
    font-family: 'Glyphic', sans-serif;
    color: #F7B536;
    text-shadow: 0 1px 5px black;
    font-size: 30px;
    font-weight: 400;
}

.hero-section button {
    position: relative;
    font-family: 'Glyphic', sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    background: linear-gradient(to right, #B98D50, #8D435A);
    border-radius: 20px;
    cursor: pointer;
    border: none;
    z-index: 0;
    overflow: hidden;
}

.hero-section button::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: #F7B536; /* Inner background */
    border-radius: 18px; /* Slightly smaller to match curve */
    z-index: -1;
}

.description-container {
  background-color: #D1B272;
  padding: 20px;
  opacity: 90%;
  width: 90%;
  max-width: 1200px;
  border-radius: 10px;
  margin: 0 auto 150px auto;
  position: relative;
}

.description-text-color {
  color: #6A3231;
}

.description-header {
  font-size: 60px;
}

.description-body {
  margin: 20px 0px 20px 0px;
  min-height: 380px;
}

.container-body {
  display: flex;
}

.container-text {
  font-size: 25px;
  margin-right: 300px;
}

.competition-flower {
  position: absolute;
  right: 0px;
  top: 0px;
}

@media (max-width: 768px) {
  .competition-flower {
    display: none;
  }
  .container-text {
    margin-right: 0;
  }
}