.hero-section p{
    font-family: 'Glyphic', sans-serif;
    color: #F7B536;
    text-shadow: 0 1px 5px black;
    font-size: 30px;
    font-weight: 400;
}

.find-project, .search-project-container {
  text-align: center;
  user-select: none;
}

.find-project {
  font-family: "Cinzel-Deco";
  color: #F7B536;
  font-size: 50px;
  margin-bottom: 50px;
}

.search-project {
  width: 300px;
  height: 40px;
  border-radius: 7px;
  border-style: none;
  outline: none;
  font-size: 20px;
  padding: 0px 5px 0px 5px;
  text-align: center;
  background-color: #EFE8D9;
  color: #b18787;
  margin-bottom: 100px;
}

.search-project::placeholder {
  text-align: center;
  font-size: 20px;
  font-family: 'Glyphic', sans-serif;
  font-weight: 100;
  color: #634544;
}

.search-project:focus::placeholder {
  color: transparent;
}

.project-container {
  display: flex;
  background-color: #D1B272;
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 20px 30px 20px 30px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-text {
  color: #6A3231;
  font-family: 'Glyphic', sans-serif;
}

.project-title {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: "Cinzel-Deco";
}

.project-logo {
  width: 180px;
  margin-left: 30px;
}

.figma-logo {
  margin-top: 100px;
  width: 70px;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .project-logo {
    width: 100px;
  }
  .project-text{
    width: 100%;
  }
  .project-description {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}