/* Fonts */
@font-face {
    font-family: "Glyphic";
    src: url(/Assets/Fonts/FacultyGlyphic-Regular.ttf);
}

@font-face {
  font-family: 'Cinzel';
  src: url(/Assets/Fonts/Cinzel-VariableFont_wght.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Cinzel-Deco';
  src: url(/Assets/Fonts/CinzelDecorative-Bold.ttf);
  font-size: 800;
  font-style: italic;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #6B9FB5;
    overflow-x: hidden;
}

/* NAVBAR START */
.navbar {
    z-index: 100;
    background-color: rgba(139, 181, 199, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(2px);
    user-select: none;
}

.nav-icon{
    align-items: center;
    background: url("/Assets/Pics/LogoTechfest.png") no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    align-items: center;
    width: 20%;
    height: 6vw;
    transition: 0.2s ease-in-out;
}

.nav-icon:hover {
  filter: drop-shadow(0 0 1px rgba(84, 84, 84, 0.7))
    drop-shadow(0 0 2px rgba(84, 84, 84, 0.7))
    drop-shadow(0 0 2px rgba(84, 84, 84, 0.7));
}

.nav-menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(109, 162, 184, 0.8);
    backdrop-filter: blur(2px);
    padding: 3rem 9rem;
    gap: 3rem;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.navbar a{
    color: white;
    text-decoration: none;
    font-family: 'Glyphic', sans-serif;
    font-size: 18px;
    transition: 0.3s ease-in-out;
    transform: translateY(0.5rem);
    z-index: 100;
}

.navbar a:hover{
    color: #F7B536;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 25px;
    background-color: white;
    margin: 2px 0;
    transition: 0.2s;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* NAVBAR END */



/* FOOTER START */
/* elemen start */
.mountain{
    position: absolute;
    opacity: 0.5;
    bottom: 0%;
    /* z-index: 10; */
    width: 130%;
    transform: translateX(-10%);
    z-index: -1;
}
/* elemen end */

.bigfoot{
    position: relative;

}

.footer{
    overflow-x: hidden;
    margin-top: 35rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    background-color: rgba(64, 64, 64, 0.9);
    z-index: 100;
}

.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
}

.footer-left img{
    width: 18vw;
    height: auto;
    transform: translateX(-10px);
}

.footer-left h3{
    color: white;
    font-family: "Cinzel", sans-serif;
    font-size: 15px;
    transform: translateY(-10px);
}

.footer-right{
    display: flex;
    flex-direction: column;
}

.top-footer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.binus-icon{
    width: 10vw;
    height: auto;
}

.himti-icon{
    width: 8vw;
    height: auto;
    transform: translateY(-7px);
}

.bottom-footer{
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.bottom-footer a{
    color: white;
    text-decoration: none;
    font-family: "Cinzel", sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.footer-link{
    display: flex;
    gap: 1.5rem;
    margin-right: 1rem;
}

.bottom-footer img{
    width: 50px;
    height: 50px;
}

.bottom-footer a:hover{
    transition: 0.2s ease-in;
    transform: scale(1.1);
}

.bottom-footer img:hover{
    transition: 0.2s ease-in;
    transform: scale(1.1);
}

/* FOOTER END */



/* HERO START */
.hero-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
    user-select: none;
}

@keyframes floatLeft {
    0% {
        transform: translateX(-15%);
    }
    50% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(-15%);
    }
}

@keyframes floatRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes floatBird {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.hero-section h1{
    font-family: "Cinzel-Deco";
    color: #F7B536;
    text-shadow: 0 1px 5px black;
    font-size: 80px;
    font-weight: 800;
}

.gear{
    position: absolute;
    width: 20vw;
    height: auto;
    left: 0%;
    transform: translateY(-2.5rem);
}

.spinning-cogs {
    opacity: 0.7;
    position: relative;
    top: -30px;
    left: -200px;
}

.large-cog {
    position: absolute;
    left: 210px;
    top: 100px;
    animation: large-cog-spin 20s linear infinite;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}

.small-cog {
    animation: small-cog-spin 10s linear infinite;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    position: absolute;
}

.small-cog-1 {
    left: 50px;
}

.small-cog-2 {
    top: 195px;
    left: -10px;
}

.small-cog-3 {
    top: 400px;
    left: 110px;
}

@keyframes large-cog-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes small-cog-spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}


.left-cloud{
    position: absolute;
    width: 50vw;
    left: -15%;
    top: 45%;
    animation: floatLeft 8s ease-in-out infinite;
}

.right-cloud{
    position: absolute;
    width: 50vw;
    height: auto;
    top: 0%;
    left: 65%;
    animation: floatRight 10s ease-in-out infinite;
}

.birdie{
    opacity: 0.8;
    position: absolute;
    height: 40vw;
    right: -5%;
    top: 50%;
    animation: floatBird 4s ease-in-out infinite;
}

.left-cloud{
    position: absolute;
    width: 50vw;
    top: 55%;
}
/* HERO END */

/* SPONSOR MEDIA START */
    .sponsor-media{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 10rem;
        gap: 8rem;
    }

    .sponsormedia-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .sponsormedia-container h1{
        font-family: "Cinzel-Deco";
        color: #F7B536;
        font-size: 80px;
        font-weight: 800;
        text-shadow: 0 1px 5px black;
    }

    .sponsormedia-container img{
        width: 50vw;
        height: 50vw;
        border-radius: 20px;
        border: 2px solid #F7B536;
    }
/* SPONSOR MEDIA END */

/* RESPONSIVE DESIGN start */

@media (max-width: 768px) {
    /* NAVBAR START*/
    .nav-icon{
        width: 25vw;
        height: 10vw;
        position: relative;
        top: -10px;
    }

    .hamburger {
        display: flex;
        margin-left: auto;
    }

    .nav-link{
        display: none;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu.active {
        display: flex;
        animation: dropDown 0.5s ease;
    }

    .nav-menu.active a{
        display: flex;
        
    }

    .spinning-cogs {
        transform:scale(0.4);
        top: 50px;
        left: -220px;
    }

    
    @keyframes dropDown {
        from { opacity:0; transform: translate(-50%, -20px); }
        to   { opacity:1; transform: translate(-50%, 0); }
    }

    /* NAVBAR END */


    /* FOOTER START */
    .mountain{
        width: 400vw;
    }


    .footer{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 15rem;
    }

    .footer-left img{
        width: 30vw;
        transform: translateX(15px);
        align-items: center;
        justify-content: center;
    }

    .footer-left h3{
        font-size: 12px;
        transform: translateY(-5px);
    }

    .footer-right{
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .top-footer{
        justify-content: center;
        margin-bottom: 1rem;
    }

    .top-footer img{
        width: 20vw;
    }

    .bottom-footer a{
        font-size: 12px;
    }
    /* FOOTER END */

    /* HERO START */
    .hero-section h1{
        font-size: 40px;
        top: -20%;
    }

    .hero-section p{
        font-size: 20px !important;
    }

    .gear{
        width: 35vw;
        top: 10%;
    }

    .left-cloud{
        width: 90vw;
        left: -30%;
        top: 70%;
    }

    .right-cloud{
        width: 80vw;
        /* height: 30vw; */
        transform: translateX(70%);
        /* left: 55%; */
        top: 10%;
    }

    .birdie{
        height: 60vw;
        top: 65%;
    }
    /* HERO END */

    /* SPONSOR MEDIA START */
    .sponsor-media{
        padding: 3rem 3rem;
    }

    .sponsormedia-container h1{
        font-size: 50px;
    }

    .sponsor-media-container img{
        width: 40%;
        height: 40%;
    }
    /* SPONSOR MEDIA END */
}

/* RESPONSIVE DESIGN end */